H1 {margin-left:00.0pt;margin-top:05.0pt;margin-bottom:12.0pt;font-size:13.0pt;font-family:Arial;padding-left:2pt;padding-top:4pt;padding-bottom:4pt;color:white;background:"#0F5286";}
H2 {margin-left:00.0pt;margin-top:12.0pt;margin-bottom:12.0pt;font-size:11.0pt;font-family:Arial;padding-left:2pt;padding-top:2pt;padding-bottom:2pt;color:white;background:lightslategray;}
H3 {margin-left:00.0pt;margin-top:12.0pt;margin-bottom:03.0pt;font-size:09.0pt;font-family:Arial;padding-left:2pt;padding-top:2pt;padding-bottom:2pt;color:white;background:darkgray;}
H4 {margin-left:00.0pt;margin-top:12.0pt;margin-bottom:03.0pt;font-size:09.0pt;font-family:Arial;padding-left:2pt;padding-top:2pt;padding-bottom:2pt;color:white;background:silver;font-style:oblique}

BODY,DIV, P, TABLE, TR, TD { background:white; font-family:Arial; font-size:9.0pt; }

A { font-family:Arial; }

A.qindex    { font-family:Arial;                                                                    }
A.qindexRef { font-family:Arial;                                                                    }
A.el        { font-family:Arial; font-weight:bold;  text-decoration:none;                           }
A.elRef     { font-family:Arial; font-weight:bold;                                                  }
A.code      { font-family:Arial; font-weight:normal; text-decoration:none; color:#4444EE;           }
A.codeRef   { font-family:Arial; font-weight:normal;                       color:#4444EE;           }
A:hover     { font-family:Arial;                    text-decoration:none; background-color:#F2F2FF; }

H1 a.el     { color:white; }

CAPTION { font-weight:bold; }

DIV.ah          { background-color:black; font-weight:bold; color:#FFFFFF; margin-bottom:3px; margin-top:3px }
DIV.fragment    { width:100%; border:none; background-color:#EEEEEE }
DIV.groupHeader { margin-left:16px; margin-top:12px; margin-bottom:6px; font-weight:bold }
DIV.groupText   { margin-left:16px; font-style:italic; font-size:smaller }
DIV.tabs        { font-family:Arial; font-size:8.0pt; }
DIV.tabs ul     { list-style-type:disc; margin:0px; margin-left:20px; }
DIV.tabs ul li:first-letter { color:"#0F5286"; }

DL.el { margin-left:-1cm }

TD.md         { background-color:#F2F2FF; font-weight:bold; }
TD.mdname1    { background-color:#F2F2FF; font-weight:bold;  color:#602020; }
TD.mdname     { background-color:#F2F2FF; font-weight:bold;  color:#602020; width:600px; }
TD.indexkey   { background-color:#EEEEFF; font-weight:bold;  font-size:8pt; padding-right:10px; padding-top:2px; padding-left:10px; padding-bottom:2px; margin-left:0px; margin-right:0px; margin-top:2px; margin-bottom:2px }
TD.indexvalue { background-color:#EEEEFF;                    font-size:8pt; padding-right:10px; padding-top:2px; padding-left:10px; padding-bottom:2px; margin-left:0px; margin-right:0px; margin-top:2px; margin-bottom:2px }

UL       { list-style-image:url(dot.bmp); margin-left:20px; }
UL UL    { list-style-image:url(dot.bmp); margin-left:15px; } 
UL UL UL { list-style-image:url(dot.bmp); margin-left:15px; } 

span.keyword       { color:#008000 }
span.keywordtype   { color:#604020 }
span.keywordflow   { color:#E08000 }
span.comment       { color:#800000 }
span.preprocessor  { color:#806020 }
span.stringliteral { color:#002080 }
span.charliteral   { color:#008080 }

/* Copyright Info */
p.copyrightFooter { text-align:right; background:"#0F5286"; color:white; }
DIV.releaseDate   { font-size:8.0pt; font-weight:bold;      color:"#0F5286"; margin-top:30pt; margin-bottom:0pt; }
DIV.softwareInfo  { font-size:8.0pt; font-weight:bold;      color:"#0F5286"; margin-top:10pt; margin-bottom:0pt; }
DIV.bigworldInfo  { font-size:8.0pt; font-weight:bold;      color:"#0F5286"; margin-top:10pt; margin-bottom:0pt; }
DIV.periodInfo    { font-size:8.0pt; font-weight:normal;    color:"#0F5286"; margin-top:10pt; margin-bottom:0pt; }
DIV.legal         { font-size:7.0pt; font-weight:normal;    color:"#0F5286"; margin-top:05pt;                    }
